:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin cards {
  display: none;
  position: absolute;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  transition: opacity 0.3s;
  border-radius: 10px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

li:hover {
  border-radius: 18px;
  background: #000000e8;
  color: #ffffff;
}
.ulFooterStyle:hover {
  border-radius: 18px;
  color: #000000e8;
}

.Cards:hover {
  border-radius: 50px;
  transform: scale(1.05);
}

.Description {
  @include cards();
  bottom: 0px;
  left: 10px;
  text-overflow: ellipsis;
  white-space: wrap;
  height: 5ch;
  width: auto;
  max-width: 31.5ch;
  overflow: hidden;
}
.Button {
  @include cards();
  cursor: pointer;
  bottom: 90px;
  left: 10px;
  border: none;
}


.Cards img {
  transition: opacity 0.3s;
}

.Cards:hover img {
  opacity: 0.10; 
}

.Cards:hover .Button,
.Cards:hover .Description {
  display: block;
}